	<div class="about-heading">
		<h2>About <span>Us</span></h2>
	</div>

	<div class="about">
		<!-- about-top -->
		<div class="agileits-about-top">
			<div class="container">
				<div class="w3-banner-bottom-heading">
					<h3>Who we <span>are</span></h3>
				</div>
				<div class="agileinfo-top-grids">
					<div class="col-sm-4 wthree-top-grid">
						<img src="../assets/7.jpg" alt="" />
						
<p>Promotion of organic farming in the country through technical capacity building of all the  including human resource development, transfer of technology, promotion and production of quality .Accurate and Complete Analysis of seeds with modern and well equipped analytical .</p>
					</div>
					<div class="col-sm-4 wthree-top-grid">
					<img src="../assets/9.jpg" alt="" />
						
<p>The company has good working machines.The start-up activity was trading and re-packing of various products.Our expertise lies in marketing wide array of seeds.Further The clients can avail from us at very nominal price.</p>
						</div>
		<div class="col-sm-4 wthree-top-grid">
				<img src="../assets/10.jpg" alt="" />
						
<p>We firmly believe that quality has to be given prime importance in order to achieve trust of the clients. We use wel equippted machines to make our  Products that are extracted from us. which make us assure an eco friendly range.</p>
					
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //about-top -->
		
		<!-- choose -->
		<div class="jarallax w3-agileits-choose-grid">
			<div class="container">
				<div class="w3-banner-bottom-heading about-choose">
					<h3>Why choose  <span>us?</span></h3>
				</div>
				<div class="agile-choose-grids">
					<div class="col-sm-4 agile-choose-grid">
						<div class="choose-icon">
							<i class="fa fa-user" aria-hidden="true"></i>
						</div>
						<div class="choose-info">
							<h5>OUR MISSION</h5>
							<p>Our good agriculture seeds enable differentiation in product quality and farmer yields. In order to enable between harvesting and processing, we also provide last mile pick-ups at fields. Sustainable agriculture practices result in environmental protection and safe products for our customers and end-consumers.</p>
						</div>
					</div>
					<div class="col-sm-4 agile-choose-grid">
						<div class="choose-icon">
							<i class="fa fa-cogs" aria-hidden="true"></i>
						</div>
						<div class="choose-info">
							<h5>OUR VISION </h5>
							<p>The best growing areas for various crops have been identified based on years of experience.  The best quality of products are supplied.we positively impact local economies and stakeholders such as farm workers and staff .</p>
						</div>
					</div>
					<div class="col-sm-4 agile-choose-grid">
						<div class="choose-icon">
							<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
						</div>
						<div class="choose-info">
							<h5>WHAT WE DO</h5>
							<p>We source and provide farmers the highest quality seeds that are suitable for growing in particular climatic conditions to produce yields that to quality standards that meet our customer requirements. 
                            </p>
						</div>
					</div>
				</div>	
			</div>
		</div>
		<!-- //choose -->
		
		<!-- team -->
		<div class="team">
			<div class="container">
				<div class="w3-banner-bottom-heading">
					<h3>Our <span>Team</span></h3>
				</div>
				<div class="team-grids">
					<!-- Bottom to top-->
						<div class="col-sm-4 team-grid">
							<!-- normal -->
							<div class="ih-item circle effect10 bottom_to_top">
								<div class="img"><img src="../assets/rd.jpg" alt="img" /></div>
								<div class="info">
									<h3>David Watson</h3>
									<div class="icons">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- end normal -->
						</div>
						<div class="col-sm-4 team-grid">
							<!-- normal -->
							<div class="ih-item circle effect10 bottom_to_top">
								<div class="img"><img src="../assets/kd.jpg" alt="img" /></div>
								<div class="info">
									<h3>Shane Smith</h3>
									<div class="icons">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- end normal -->
						</div>
						<div class="col-sm-4 team-grid">
							<!-- normal -->
							<div class="ih-item circle effect10 bottom_to_top">
								<div class="img"><img src="../assets/nd.jpg" alt="img" /></div>
								<div class="info">
									<h3>Steve Warner</h3>
									<div class="icons">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- end normal -->
						</div>
						<div class="col-sm-4 team-grid">
							<!-- normal -->
							<div class="ih-item circle effect10 bottom_to_top">
								<div class="img"><img src="../assets/t4.jpg" alt="img" /></div>
								<div class="info">
									<h3>Dale Duminy</h3>
									<div class="icons">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- end normal -->
						</div>
						<div class="col-sm-4 team-grid">
							<!-- normal -->
							<div class="ih-item circle effect10 bottom_to_top">
								<div class="img"><img src="../assets/t5.jpg" alt="img" /></div>
								<div class="info">
									<h3>Shane Miller</h3>
									<div class="icons">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- end normal -->
						</div>
						<div class="col-sm-4 team-grid">
							<!-- normal -->
							<div class="ih-item circle effect10 bottom_to_top">
								<div class="img"><img src="../assets/t6.jpg" alt="img" /></div>
								<div class="info">
									<h3>James Kallis</h3>
									<div class="icons">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- end normal -->
						</div>
						<div class="clearfix"> </div>
					<!-- end Bottom to top-->
				</div>
			</div>
		</div>
		<!-- //team -->
	</div>
	<!-- //about -->