
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
<script src='/assets/jquery.immersive-slider.js'></script>
<script src='/assets/responsiveslides.min.js'></script>
<script src='/assets/jquery.flexslider.js'></script>

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>

	<!-- banner -->
	<div class="main">
		<div class="page_container">
			<div id="immersive_slider">
				  <div class="slide" data-blurred="">
						<div class="col-md-6 image">
							<img src="../assets/3a.jpg" alt="Slider 1" />
						</div>
						<div class="col-md-6 content">
							<h3>Hosting <span>City</span></h3>
							<p>veer organics company that provides the best seeds all our the  India.This is an ever growing list of organizations we have the pleasure of knowing and/or working with and that we can recommend. They are on the front lines bringing into action. </p>
						</div>
						<div class="clearfix"> </div>
				  </div>
				  <div class="slide" data-blurred="">
						<div class="col-md-6 image">
							<img src="../assets/1a.jpg" alt="Slider 1" />
						</div>
						<div class="col-md-6 content">
							<h3>Personal <span>Hosting</span></h3>
							<p> Our company work for the best quality production units, development and implementation of quality control ,human resource development, etc.  Input resource management, technology development through support to research and market development.</p>
						</div>
						<div class="clearfix"> </div>
				  </div>
				  <div class="slide" data-blurred="">
						<div class="col-md-6 image">
							<img src="../assets/2a.jpg" alt="Slider 1" />
						</div>
						<div class="col-md-6 content">
							<h3>Shared <span>Hosting</span></h3>
							<p>Providing our cleint the best product for there production.</h4>
				 We further have an advanced laboratory where we keep a check on the quality of the  Products that we make available in the market. 
 </p>
						</div>
						<div class="clearfix"> </div>
				  </div>
				  
				  <a href="#" class="is-prev">&laquo;</a>
				  <a href="#" class="is-next">&raquo;</a>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready( function() {
			$("#immersive_slider").immersive_slider({
				  container: ".main"
			});
		});

	</script>
	<!-- //banner -->
	<div class="domain">
		<div class="container">
			<form class="search-form domain-search" action="#" method="post">
				<div class="two-fifth column first">
					<h2>search your <span>domain</span></h2>
				</div>
				<div class="three-fifth column first">
					<input type="text" class="text" name="Name" placeholder="Enter your domain name" required="">               
				</div>
				<div class="one-fifth column">
					<span class="selection-box">
						<select class="domains valid" name="domains">
							<option>Year (0-1 Year)</option>
							<option>Year (0-2 Year)</option>
							<option>Year (0-4 Year)</option>
							<option>Year (0-8 Year)</option>
						</select>
					</span>
				</div>
				<div class="one-fifth column">
					<span class="selection-box">
						<select class="domains valid" name="domains">
							<option>.com</option>
							<option>.info</option>
							<option>.net</option>
							<option>.org</option>
						</select>
					</span>
				</div>
				<div class="one-fifth column">
					<input type="submit" value="Search">
				</div>
				<div class="clearfix"> </div>
			</form>
		</div>
	</div>
	<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="w3-banner-bottom-heading">
				<h3>What <span>We Do?</span></h3>
			</div>
			<div class="agileits-banner-bottom">
				<div class="col-md-3 agileits-banner-bottom-grid">
					<div class="services-grid1">
						<div class="services-grid-right agile-services-grid-right">
							<div class="services-grid-right-grid hvr-radial-out blue-grid" >
								<span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
							</div>
						</div>
						<div class="services-grid-left agile-services-grid-left">
							<h4>Production </h4>
							<p>The Company is focused on solutions for crops and soils, our company Supplying wide ranges Products.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileits-banner-bottom-grid">
					<div class="services-grid1">
						<div class="services-grid-right agile-services-grid-right">
							<div class="services-grid-right-grid hvr-radial-out orange-grid">
								<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
							</div>
						</div>
						<div class="services-grid-left agile-services-grid-left">
							<h4>Import and Export</h4>
							<p>Export marketing is done directly and also  merchant exporters.Offered collections of these products are made by employing qualitative ingredients and progressive technology.  </p>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileits-banner-bottom-grid">
					<div class="services-grid1">
						<div class="services-grid-right agile-services-grid-right">
							<div class="services-grid-right-grid hvr-radial-out green-grid">
								<span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>
							</div>
						</div>
						<div class="services-grid-left agile-services-grid-left">
							<h4>Best Pricing</h4>
							<p>Our Company provide the product at normal prices and that is affordable the the customers.
				</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileits-banner-bottom-grid">
					<div class="services-grid1">
						<div class="services-grid-right agile-services-grid-right">
							<div class="services-grid-right-grid hvr-radial-out red-grid">
								<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
							</div>
						</div>
						<div class="services-grid-left agile-services-grid-left">
							<h4>Technologies</h4>
							<p>We are having new technology machines and filtering the seeds.Due to which we provide all types of crops.</p>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //banner-bottom -->
	<!-- special -->
	<div class="special">
		<div class="container">
			<div class="w3-banner-bottom-heading">
				<h3>Our Production <span>Seeds</span></h3>
			</div>
			<div class="wthree-special-grid">
				<div class="flipster">
				  <ul>
					<li>
						<div class="pricing">
							<div class="pricing-top green-top">
								<h3>Wheat</h3>
								<p>Seeds</p>
							</div>
							<div class="pricing-bottom">
								<div class="pricing-bottom-top">
									<p>1 Website</p>
									<p>1 Year Updates</p>
									<p>1 Year Email Support</p>
								</div>
								<div class="pricing-bottom-bottom">
									<p><span>Unlimited</span> Email Addresses</p>
									<p><span>65GB </span> of Storage</p>
									<p><span>75</span> Databases</p>  
									<p><span>25</span> Domains</p>
									<p class="text"><span>24/7</span> Unlimited Support</p>
								</div>
								<div class="buy-button">
									<a href="#">Read More</a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="pricing">
							<div class="pricing-top blue-top">
								<h3>Soybean</h3>
								<p>Seeds</p>
							</div>
							<div class="pricing-bottom">
								<div class="pricing-bottom-top">
									<p>1 Website</p>
									<p>1 Year Updates</p>
									<p>1 Year Email Support</p>
								</div>
								<div class="pricing-bottom-bottom">
									<p><span>Unlimited</span> Email Addresses</p>
									<p><span>85GB </span> of Storage</p>
									<p><span>65</span> Databases</p>  
									<p><span>30</span> Domains</p>
									<p class="text"><span>24/7</span> Unlimited Support</p>
								</div>
								<div class="buy-button">
									<a href="#">Read More</a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="pricing">
							<div class="pricing-top">
								<h3>Personal</h3>
								<p>Seeds</p>
							</div>
							<div class="pricing-bottom">
								<div class="pricing-bottom-top">
									<p>1 Website</p>
									<p>1 Year Updates</p>
									<p>1 Year Email Support</p>
								</div>
								<div class="pricing-bottom-bottom">
									<p><span>Unlimited</span> Email Addresses</p>
									<p><span>50GB </span> of Storage</p>
									<p><span>55</span> Databases</p>  
									<p><span>21</span> Domains</p>
									<p class="text"><span>24/7</span> Unlimited Support</p>
								</div>
								<div class="buy-button">
									<a href="#">Read More</a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="pricing">
							<div class="pricing-top green-top">
								<h3>Business</h3>
								<p>Seeds</p>
							</div>
							<div class="pricing-bottom">
								<div class="pricing-bottom-top">
									<p>1 Website</p>
									<p>1 Year Updates</p>
									<p>1 Year Email Support</p>
								</div>
								<div class="pricing-bottom-bottom">
									<p><span>Unlimited</span> Email Addresses</p>
									<p><span>65GB </span> of Storage</p>
									<p><span>75</span> Databases</p>  
									<p><span>25</span> Domains</p>
									<p class="text"><span>24/7</span> Unlimited Support</p>
								</div>
								<div class="buy-button">
									<a href="plans.html">Read More</a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="pricing">
							<div class="pricing-top">
								<h3>Personal</h3>
								<p>Seeds</p>
							</div>
							<div class="pricing-bottom">
								<div class="pricing-bottom-top">
									<p>1 Website</p>
									<p>1 Year Updates</p>
									<p>1 Year Email Support</p>
								</div>
								<div class="pricing-bottom-bottom">
									<p><span>Unlimited</span> Email Addresses</p>
									<p><span>50GB </span> of Storage</p>
									<p><span>55</span> Databases</p>  
									<p><span>21</span> Domains</p>
									<p class="text"><span>24/7</span> Unlimited Support</p>
								</div>
								<div class="buy-button">
									<a href="#">Read More</a>
								</div>
							</div>
						</div>
					</li>
				  </ul>
				</div>
			</div>
		</div>
	</div>
	<!-- //special -->
	<!-- choose -->
	<div class="choose jarallax">
		<div class="w3-agile-testimonial">
			<div class="container">
				<div class="w3-agileits-choose">
					<div class="col-md-6 choose-grid">
						<div class="w3-banner-bottom-heading choose-heading">
							<h3>Why Choose<span> Us?</span></h3>
						</div>
						<div class="top-choose-info">
							<div class="choose-info-top">
								<div class="choose-left-grid col-sm-6">
									<div class="choose-info-grid ">
										<ul>
											<li><i class="fa fa-bell" aria-hidden="true"></i></li>
											<li>Client Satisfaction</li>
										</ul>
									</div>
								</div>
								<div class="choose-right-grid col-sm-6">
									<div class="choose-info-grid ">
										<ul>
											<li><i class="fa fa-cog" aria-hidden="true"></i></li>
											<li>Our Team</li>
										</ul>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="choose-info-top">
								<div class="choose-left-grid col-sm-6">
									<div class="choose-info-grid ">
										<ul>
											<li><i class="fa fa-comments" aria-hidden="true"></i></li>
											<li>Our Technologies</li>
										</ul>
									</div>
								</div>
								<div class="choose-right-grid col-sm-6">
									<div class="choose-info-grid ">
										<ul>
											<li><i class="fa fa-user" aria-hidden="true"></i></li>
											<li>Our production</li>
										</ul>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="choose-info-top">
								<div class="choose-left-grid col-sm-6">
									<div class="choose-info-grid ">
										<ul>
											<li><i class="fa fa-money" aria-hidden="true"></i></li>
											<li>Our Instructors</li>
										</ul>
									</div>
								</div>
								<div class="choose-right-grid col-sm-6">
									<div class="choose-info-grid ">
										<ul>
											<li><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></li>
											<li>Import and Export</li>
										</ul>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 choose-grid">
						<div class="w3-banner-bottom-heading choose-heading">
							<h3>What People<span> say's?</span></h3>
						</div>
						<div class="top-choose-info testimonial-info">
							<div class="wthree-testimonial-grid">
									<div class="slider">
											<div class="callbacks_container">
												<ul class="rslides" id="slider3">
													<li>
														<div class="testimonial-top">
<i class="fa fa-quote-right" aria-hidden="true"></i>
							<p>Opportunities on Farms,  is part of a  effort to link visitors with farmers, promote an educational exchange, and build a global community conscious of ecological farming practices.
</p>
	<h5>John Smith <span>- Customer</span></h5>
							</div>
									</li>
						<li>
				<div class="testimonial-top">
				<i class="fa fa-quote-right" aria-hidden="true"></i>
	<p>Agriculture is a global community of practice that facilitates dialogue, information exchange and sharing of ideas related to the use  of sustainable agriculture and rural development.</p>
	<h5>Divide Rule <span>- Customer</span></h5>
	</div>
	</li>
				</ul>
				</div>
		<script>
						// You can also use "$(window).load(function() {"
						$(function () {
							  // Slideshow 4
					 $("#slider3").responsiveSlides({
				auto: true,
	pager:true,
							nav:false,
					speed: 500,
							namespace: "callbacks",
						before: function () {
						  $('.events').append("<li>before event fired.</li>");
							},
					after: function () {
					  $('.events').append("<li>after event fired.</li>");
										}
});
											
										});
						</script>
					<!--banner Slider starts Here-->
									</div>
							</div>

						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //choose -->
	<!-- subscribe -->
	<div class="subscribe">
		<div class="container">
			<div class="w3-banner-bottom-heading">
				<h3>Subscribe<span> with Us</span></h3>
			</div>
			<div class="w3-agile-subscribe-form">
				<form action="#" method="post">
					<input type="text" placeholder="Email" name="Email" required="">
					<button class="btn1">Subscribe</button>
				</form>
			</div>
		</div>
	</div>
	<!-- //subscribe -->
	<!-- footer -->

	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>

	<script>
	<!--
		
		$(function(){ $(".flipster").flipster({ style: 'carousel', start: 0 }); });

	-->
	</script>