<div class="about-heading">
		<h2>Our <span>Services</span></h2>
	</div>
	<!-- //about-heading -->
	<!-- services -->
	<div class="services">
		<!-- best-services -->
		<div class="w3-best-services">
			<div class="container">
				<div class="w3-banner-bottom-heading">
					<h3>Best <span>Services</span></h3>
				</div>
				<div class="w3l-best-services-grids">
					<div class="servc-grids">
						<div class="col-md-6 servc-grid">
							<div class="col-xs-3 servc-grid-left">
								<span class="glyphicon glyphicon-asterisk effect-1" aria-hidden="true"></span>
							</div>
							<div class="col-xs-9 servc-grid-right">
								<h4>Tested Products</h4>
								<p>We deliver the product to our cleint only when we test and it is best for delivery</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-6 servc-grid">
							<div class="col-xs-3 servc-grid-left">
								<span class="glyphicon glyphicon-road effect-1" aria-hidden="true"></span>
							</div>
							<div class="col-xs-9 servc-grid-right">
								<h4>Techologies</h4>
								<p>New technologies are used so that we can provide the best to the customer </p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="servc-grids">
						<div class="col-md-6 servc-grid">
							<div class="col-xs-3 servc-grid-left">
								<span class="glyphicon glyphicon-plane effect-1" aria-hidden="true"></span>
							</div>
							<div class="col-xs-9 servc-grid-right">
								<h4>Import And Export</h4>
								<p> Export marketing is done directly and also  merchant exporters.Offered collections of these products are made by employing qualitative ingredients and progressive technology.  </p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-6 servc-grid">
							<div class="col-xs-3 servc-grid-left">
								<span class="glyphicon glyphicon-bed effect-1" aria-hidden="true"></span>
							</div>
							<div class="col-xs-9 servc-grid-right">
								<h4>Our Research Team</h4>
								<p>We have  wide experience in research and development in technology. Our team works in a team spirit and assists us in processing array of Products. </p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="servc-grids">
						<div class="col-md-6 servc-grid">
							<div class="col-xs-3 servc-grid-left">
								<span class="glyphicon glyphicon-magnet effect-1" aria-hidden="true"></span>
							</div>
							<div class="col-xs-9 servc-grid-right">
								<h4>Client Satisfaction</h4>
								<p> Company work for the satisfaction of the customer.Because we can get success only when our customer will support us.      </p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-6 servc-grid">
							<div class="col-xs-3 servc-grid-left">
								<span class="glyphicon glyphicon-globe effect-1" aria-hidden="true"></span>
							</div>
							<div class="col-xs-9 servc-grid-right">
								<h4>Our Instructors</h4>
								<p>Great instructor who always guide us and direct us.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
		<!-- //best-services -->
		<!-- featured-services -->
		<div class="w3ls-featured-services">
			<div class="container">
				<div class="col-md-6 agileits-featured-left">
					<div class="w3-banner-bottom-heading featured-heading">
						<h3>Featured <span>Services</span></h3>
					</div>
					<div class="w3-agileits-featured-left-grids">
						<div class="w3-agileits-featured-left-grid">
							<div class="col-sm-4 featured-left-img">
								<img src="../assets/7.jpg" alt="" />
							</div>
							<div class="col-sm-8 featured-left-text">
								<h5>New Technology Machines</h5>
								<p>We are using new Technology machines for filtering the seed.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-agileits-featured-left-grid">
							<div class="col-sm-4 featured-left-img">
								<img src="../assets/10.jpg" alt="" />
							</div>
							<div class="col-sm-8 featured-left-text">
								<h5>Exporting Facility</h5>
								<p>We are also having a good quality seeds that are exported at wide range.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-agileits-featured-left-grid">
							<div class="col-sm-4 featured-left-img">
								<img src="../assets/9.jpg" alt="" />
							</div>
							<div class="col-sm-8 featured-left-text">
								<h5>Packing Of Seed</h5>
								<p>Supplying a wel packed item to the customer .</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-6 agileits-news-right">
					<div class="w3-banner-bottom-heading featured-heading">
						<h3>Latest <span>News</span></h3>
					</div>
					<div class="agile-news-grids">
						<div class="agile-news-grid">
							<div class="agile-news-date">
								<h5>24</h5>
								<p>Sept-16</p>
							</div>
							<div class="agile-news-text">
								<h5><a href="single.html">Best Pricing</a></h5>
								<p>At very reasonable price we provide seed to customer which be easy affordable by customers  .</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="agile-news-grid">
							<div class="agile-news-date">
								<h5>10</h5>
								<p>Oct-16</p>
							</div>
							<div class="agile-news-text">
								<h5><a href="single.html">Customer requirement</a></h5>
								<p>Firstly we see the customers requirement that which type of seed they want for there use.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="agile-news-grid">
							<div class="agile-news-date">
								<h5>07</h5>
								<p>Dec-16</p>
							</div>
							<div class="agile-news-text">
								<h5><a href="single.html">Customer Feedback </a></h5>
								<p>Customer feedback is obtained on the performance of groups and objectives are reviewed and aligned to customer requirements.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //featured-services -->
	</div>
	