<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><b>Name:</b>  <%= @name %></p>
    <p>
      <b>Email: </b> <%= @email %>.<br>
    </p>
    <p>
      <b>Mobile:</b> <%= @mobile_no %>
    </p>

    <p><b>Message : </b><%= @msg %></p>
  </body>
</html>