<% debugger %>
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Name:  <%= @name %></h3>
    <p>
      Email:  <%= @email %>.<br>
    </p>
    <p>
      Subject: <%= @subject %>.
    </p>
    <p>Message : <%= @msg %></p>
  </body>
</html>